$border-radius: 0.25rem;

$btn-disabled-opacity: 0.4;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--#{$prefix}p000: #{$p000};
	--#{$prefix}p100: #{$p100};
	--#{$prefix}p200: #{$p200};
	--#{$prefix}p300: #{$p300};
	--#{$prefix}p400: #{$p400};
	--#{$prefix}p500: #{$p500};
	--#{$prefix}p600: #{$p600};
	--#{$prefix}p700: #{$p700};
	--#{$prefix}p800: #{$p800};
	--#{$prefix}p900: #{$p900};
	--#{$prefix}s000: #{$s000};
	--#{$prefix}s100: #{$s100};
	--#{$prefix}s200: #{$s200};
	--#{$prefix}s300: #{$s300};
	--#{$prefix}s400: #{$s400};
	--#{$prefix}s500: #{$s500};
	--#{$prefix}s600: #{$s600};
	--#{$prefix}s700: #{$s700};
	--#{$prefix}s800: #{$s800};
	--#{$prefix}s900: #{$s900};
	--#{$prefix}g000: #{$g000};
	--#{$prefix}g100: #{$g100};
	--#{$prefix}g200: #{$g200};
	--#{$prefix}g300: #{$g300};
	--#{$prefix}g400: #{$g400};
	--#{$prefix}g500: #{$g500};
	--#{$prefix}g600: #{$g600};
	--#{$prefix}g700: #{$g700};
	--#{$prefix}g800: #{$g800};
	--#{$prefix}g900: #{$g900};

	--#{$prefix}h1-fontsize: calc(#{$font-size-base} * 2.5);
	--#{$prefix}h2-fontsize: calc(#{$font-size-base} * 2);
	--#{$prefix}h3-fontsize: calc(#{$font-size-base} * 1.75);
	--#{$prefix}h4-fontsize: calc(#{$font-size-base} * 1.5);
	--#{$prefix}h5-fontsize: calc(#{$font-size-base} * 1.375);
	--#{$prefix}h6-fontsize: calc(#{$font-size-base} * 1.125);

	@include media-breakpoint-up(md) {
		--#{$prefix}h1-fontsize: calc(#{$font-size-base} * 3);
		--#{$prefix}h2-fontsize: calc(#{$font-size-base} * 2.5);
		--#{$prefix}h3-fontsize: calc(#{$font-size-base} * 2);
		--#{$prefix}h4-fontsize: calc(#{$font-size-base} * 1.75);
		--#{$prefix}h5-fontsize: calc(#{$font-size-base} * 1.5);
		--#{$prefix}h6-fontsize: calc(#{$font-size-base} * 1.25);
	}
}
