$border-radius: 0.25rem;

$btn-disabled-opacity: 0.4;

:root {
  --arb-p000: #{$p000};
  --arb-p100: #{$p100};
  --arb-p200: #{$p200};
  --arb-p300: #{$p300};
  --arb-p400: #{$p400};
  --arb-p500: #{$p500};
  --arb-p600: #{$p600};
  --arb-p700: #{$p700};
  --arb-p800: #{$p800};
  --arb-p900: #{$p900};
  --arb-s000: #{$s000};
  --arb-s100: #{$s100};
  --arb-s200: #{$s200};
  --arb-s300: #{$s300};
  --arb-s400: #{$s400};
  --arb-s500: #{$s500};
  --arb-s600: #{$s600};
  --arb-s700: #{$s700};
  --arb-s800: #{$s800};
  --arb-s900: #{$s900};
  --arb-g000: #{$g000};
  --arb-g100: #{$g100};
  --arb-g200: #{$g200};
  --arb-g300: #{$g300};
  --arb-g400: #{$g400};
  --arb-g500: #{$g500};
  --arb-g600: #{$g600};
  --arb-g700: #{$g700};
  --arb-g800: #{$g800};
  --arb-g900: #{$g900};

  --#{$prefix}-h1-fontsize: calc(#{$font-size-base} * 2.5);
  --#{$prefix}-h2-fontsize: calc(#{$font-size-base} * 2);
  --#{$prefix}-h3-fontsize: calc(#{$font-size-base} * 1.75);
  --#{$prefix}-h4-fontsize: calc(#{$font-size-base} * 1.5);
  --#{$prefix}-h5-fontsize: calc(#{$font-size-base} * 1.375);
  --#{$prefix}-h6-fontsize: calc(#{$font-size-base} * 1.125);

  @include media-breakpoint-up(md) {
    --#{$prefix}-h1-fontsize: calc(#{$font-size-base} * 3);
    --#{$prefix}-h2-fontsize: calc(#{$font-size-base} * 2.5);
    --#{$prefix}-h3-fontsize: calc(#{$font-size-base} * 2);
    --#{$prefix}-h4-fontsize: calc(#{$font-size-base} * 1.75);
    --#{$prefix}-h5-fontsize: calc(#{$font-size-base} * 1.5);
    --#{$prefix}-h6-fontsize: calc(#{$font-size-base} * 1.25);
  }
}
